#calc-grid {
    width: 360px;
    height: 450px;
}

.row {
    display: flex;
}

.calc-button {
    width: 25%;
    flex-grow: 1;
    padding: 2px;
    margin: 2px;
    box-sizing: border-box;
    border: 2px groove black;
    border-radius: 5px;
    font-size: 1.5rem;
}

#display {
    width: 51%;
    box-sizing: border-box;
    margin: 2px;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 1.5rem;
}