#calc-grid {
    width: 360px;
    height: 450px;
}

.row {
    display: flex;
}

.calc-button {
    width: 25%;
    flex-grow: 1;
    padding: 2px;
    margin: 2px;
    box-sizing: border-box;
    border: 0.5px groove black;
    border-radius: 5px;
    font-size: 1.5rem;
}

#display {
    width: 51%;
    box-sizing: border-box;
    margin: 2px;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 1.5rem;
}

button {
    background-color: #f9f7ef;
}

button:active {
    transform: scale(0.98) translateY(2px);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}